<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/root-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DropUserServlet</display-name>
    <servlet-name>DropUserServlet</servlet-name>
    <servlet-class>com.godsky.findlove.User.controller.DropUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DropUserServlet</servlet-name>
    <url-pattern>/DropUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.godsky.findlove.User.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>com.godsky.findlove.User.controller.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpProcessServlet</display-name>
    <servlet-name>SignUpProcessServlet</servlet-name>
    <servlet-class>com.godsky.findlove.User.controller.SignUpProcessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpProcessServlet</servlet-name>
    <url-pattern>/SignUpProcessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>com.godsky.findlove.User.controller.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindIdServlet</display-name>
    <servlet-name>FindIdServlet</servlet-name>
    <servlet-class>com.godsky.findlove.User.controller.FindIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindIdServlet</servlet-name>
    <url-pattern>/FindIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindPwdServlet</display-name>
    <servlet-name>FindPwdServlet</servlet-name>
    <servlet-class>com.godsky.findlove.User.controller.FindPwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindPwdServlet</servlet-name>
    <url-pattern>/FindPwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyInfoServlet</display-name>
    <servlet-name>MyInfoServlet</servlet-name>
    <servlet-class>com.godsky.findlove.user.controller.MyInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyInfoServlet</servlet-name>
    <url-pattern>/MyInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyInfoUpdateServlet</display-name>
    <servlet-name>MyInfoUpdateServlet</servlet-name>
    <servlet-class>com.godsky.findlove.user.controller.MyInfoUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyInfoUpdateServlet</servlet-name>
    <url-pattern>/MyInfoUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PollServicce</display-name>
    <servlet-name>PollServicce</servlet-name>
    <servlet-class>com.godsky.findlove.eventmain.poll.ans.model.service.PollServicce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PollServicce</servlet-name>
    <url-pattern>/pollServicce</url-pattern>
  </servlet-mapping>
</web-app>