<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="inq">
	
	<resultMap type="Inq" id="resultInqList">
		<result property="inqNo" column="INQ_NO"/>
		<result property="inqTitle" column="INQ_TITLE"/>
		<result property="inqContent" column="INQ_CONTENT"/>
		<result property="inqDate" column="INQ_DATE"/>
		<result property="inqOFN" column="INQ_ORIGINAL_FILENAME"/>
		<result property="inqRFN" column="INQ_RENAME_FILENAME"/>
		<result property="inqWriter" column="INQ_WRITER"/>
		<result property="inqReciver" column="INQ_RECIVER"/>
	</resultMap>
	
	<!-- list 조회 -->
	<select id="selectInqList" resultType="Inq" resultMap="resultInqList">
		<![CDATA[
			SELECT INQ_NO, INQ_TITLE, INQ_WRITER, INQ_DATE
			FROM TB_INQ
			ORDER BY INQ_NO DESC
		]]>
	</select>
	
</mapper>