<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="konpeito">

	<update id="updateKonpeito">
		UPDATE TB_USER SET KONPEITO_CNT = KONPEITO_CNT - #{point}
		WHERE USER_ID = #{senderId}
	</update>
	
	<select id="checkpoint" resultType="Integer">
	<![CDATA[
		SELECT 
			CASE WHEN KONPEITO_CNT > 9 THEN 1
     		ELSE 0
		END 
		FROM TB_USER
		WHERE USER_ID = #{senderId}
	]]>
	</select>
	
   	 
</mapper>