<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="message">
	<resultMap type="Message" id="resultMessage">
		<result column="Message_NO" property="message_no" />
		<result column="Sender_ID" property="sender_id" />
		<result column="Receiver_ID" property="receiver_id" />
		<result column="Message_Content" property="message_content" />
		<result column="Send_DT" property="send_dt" />
		<result column="Read_FL" property="read_fl" />
		<result column="Accept_ST " property="accept_st" />
	</resultMap>
	<select id="selectAll" resultMap="resultList">
		<![CDATA[ select * from member ]]>
	</select>
</mapper>