<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="message">
     
    <insert id="create">
        INSERT INTO TB_MESSAGE (MESSAGE_NO, SENDER_ID, RECEIVER_ID, MESSAGE_CONTENT, SEND_DT, READ_FL, ACCEPT_ST) 
        VALUES (message_seq.NEXTVAL, #{sender}, #{receiver}, #{message_content}, DEFAULT, DEFAULT, DEFAULT )
    </insert>
   
</mapper>