<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mymessage">

	<resultMap id="resultMyMessage" type="MyMessage">
      <result property="message_no" column="MESSAGE_NO" />
      <result property="user_nicknm" column="USER_NICKNM" />
      <result property="picture_nm" column="PICTURE_NM" />
      <result property="sender_id" column="SENDER_ID" />
      <result property="receiver_id" column="RECEIVER_ID" />
      <result property="message_content" column="MESSAGE_CONTENT" />
      <result property="send_DT" column="SEND_DT" />
      <result property="read_FL" column="READ_FL" />
      <result property="accept_ST" column="ACCEPT_ST" />
   	</resultMap>
  
      <insert id="sendMessage" parameterType="Message">
        <![CDATA[INSERT INTO TB_MESSAGE(MESSAGE_NO, SENDER_ID, RECEIVER_ID, MESSAGE_CONTENT) VALUES (MESSAGE_SEQ.NEXTVAL, #{sender_id}, #{receiver_id}, #{message_content})]]>
   	 </insert>
   	 
 	 <select id="sendMessageList" parameterType="string" resultType="list" resultMap="resultMyMessage">
   	 	<![CDATA[
   	 	SELECT MESSAGE_NO, USER_NICKNM, PICTURE_NM, SENDER_ID, RECEIVER_ID, MESSAGE_CONTENT, SEND_DT, READ_FL, ACCEPT_ST 
		FROM TB_MESSAGE
		LEFT JOIN TB_USER ON (RECEIVER_ID = USER_ID)
		LEFT JOIN TB_PROFILE_PICTURE USING (USER_ID)
		WHERE SENDER_ID = #{sender_id}
   	 	]]>
   	 </select>
   	 
</mapper>