<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="poll">

	<resultMap id="resultPoll" type="Poll">
		<id property="pollNo" column="Poll_NO"/>
		<result property="pollTitle" column="Poll_Title"/>
		<result property="pollST" column="Poll_ST"/>
		<result property="SDT" column="Start_DT"/>
		<result property="EDT" column="End_DT"/>
		<result property="answer1" column="Answer1"/>
		<result property="answer2" column="Answer2"/>
		<result property="answer3" column="Answer3"/>
		<result property="result1" column=""/>
		<result property="result2" column=""/>
		<result property="result3" column=""/>		
		<result property="answer" column="Answer"/>
	</resultMap>
	
	<select id="listAll" resultType="Poll" resultMap="resultPoll">
		<![CDATA[
			SELECT POLL_NO,POLL_TITLE,POLL_ST,START_DT,END_DT,ANSWER1,ANSWER2,ANSWER3,ANSWER
			FROM TB_POLL
			JOIN TB_POLL_ANSWER using (POLL_NO)
			ORDER BY Poll_NO DESC, Start_DT DESC
			
		]]>				
	</select>
	<select id="detail" parameterType="int" resultType="Poll" resultMap="resultPoll">
		SELECT POLL_NO,POLL_TITLE,POLL_ST,START_DT,END_DT,ANSWER1,ANSWER2,ANSWER3,ANSWER
        FROM TB_POLL
		JOIN TB_POLL_ANSWER using (POLL_NO)
        WHERE POLL_NO = #{pollNo}
    </select>
    <select id="result" parameterType="int" resultType="Poll" resultMap="resultPoll">
		SELECT POLL_NO,POLL_TITLE,POLL_ST,START_DT,END_DT,ANSWER1,ANSWER2,ANSWER3,ANSWER
        FROM TB_POLL
		JOIN TB_POLL_ANSWER using (POLL_NO)
        WHERE POLL_NO = #{pollNo}
    </select>
    
</mapper>