<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="profile">
     
    <select id="selectProfileList" resultType="Profileboard">
    	<include refid="pagingHeader"></include>
        <![CDATA[
            SELECT 
            ROWNUM,
            USER_ID,
            USER_NICKNM,
            GRADE_AVG,
            PICTURE_NM,
            GENDER,
            AGE,
            HEIGHT,
            WEIGHT,
            AREA,
            HOBBY,
            ACHIEVEMENT,
            BLOOD_TYPE,
            SMOKING,
            DRINKING,
            RELIGION,
            STYLE
            FROM TB_USER 
			LEFT JOIN TB_PROFILE USING (USER_ID)
			LEFT JOIN TB_PROFILE_PICTURE USING (USER_ID)
			WHERE USER_ID != 'admin'
			AND THUMNAIL_FL = '0'
        ]]>
        <include refid="search"></include>
        <include refid="pagingFooter"></include>
    </select>
    
    <sql id="search">
			AND USER_NICKNM like '%'||#{keyword}||'%'
	</sql>

	<sql id="pagingHeader">
   SELECT * FROM (
        SELECT ROWNUM AS rn, A.* FROM (
	</sql>
	<sql id="pagingFooter">
        ) A
    ) WHERE rn BETWEEN #{start} AND #{end}
	</sql>

    <select id="countProfile" resultType="int">
    	<![CDATA[
    	SELECT COUNT(*) FROM TB_USER
    	WHERE USER_NICKNM like '%'||#{keyword}||'%'
    	 ]]>
    </select>
    
    <select id="selectProfileDetail" resultType="Profileboard">
        <![CDATA[
            SELECT * FROM TB_USER 
			LEFT JOIN TB_PROFILE USING(USER_ID)
			LEFT JOIN TB_PROFILE_PICTURE USING (USER_ID)
			WHERE USER_NICKNM = #{USER_NICKNM}
			AND THUMNAIL_FL = '0'
        ]]>
    </select>
   <select id="selectProfileOne" resultType="String" parameterType="String">
        <![CDATA[
            SELECT gender FROM TB_PROFILE
            WHERE USER_ID = #{userId} and target_gb = 0
			
			
        ]]>
    </select>
</mapper>