<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="profile">
     
    <select id="selectProfileList" resultType="com.godsky.findlove.main.profileboard.model.vo.Profileboard">
        <![CDATA[
            SELECT 
            USER_ID,
            PICTURE_NM,
            USER_NICKNM,
            GRADE_AVG,
            GENDER,
            AGE,
            AREA
            FROM TB_USER 
			LEFT JOIN TB_PROFILE USING (USER_ID)
			LEFT JOIN TB_PROFILE_PICTURE USING (USER_ID)
			WHERE USER_ID != 'admin'
        ]]>
    </select>
    
    <select id="selectProfileDetail" resultType="com.godsky.findlove.main.profileboard.model.vo.Profileboard">
        <![CDATA[
            SELECT * FROM TB_USER 
			LEFT JOIN TB_PROFILE USING(USER_ID)
			LEFT JOIN TB_PROFILE_PICTURE USING (USER_ID)
			WHERE USER_NICKNM = #{USER_NICKNM}
        ]]>
    </select>
   
</mapper>