<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

	<resultMap id="resultUser" type="User">
		<id property="user_id" column="User_ID"/>
		<result property="user_pwd" column="User_PWD"/>
		<result property="user_nm" column="User_NM"/>
		<result property="user_nicknm" column="User_NickNM"/>
		<result property="user_st" column="User_ST"/>
		<result property="email" column="Email"/>
		<result property="phone" column="Phone"/>
		<result property="point_cnt" column="Point_CNT"/>
		<result property="konpeito_cnt" column="Konpeito_CNT"/>
		<result property="rank_gb" column="Rank_GB"/>
		<result property="grade_avg" column="Grade_AVG"/>
		<result property="enroll_dt" column="Enroll_DT"/>
		<result property="lastest_access_dt" column="Latest_Access_DT"/>
		<result property="delete_dt" column="Delete_DT"/>
	</resultMap>
	
	<insert id ="insertUser" parameterType = "User">
		INSERT INTO TB_USER(USER_ID, USER_PWD, USER_NM, USER_NICKNM, EMAIL, PHONE)
		VALUES (#{user_id}, #{user_pwd}, #{user_nm}, #{user_nicknm}, #{email}, #{phone})
	</insert>
	
	
	<select id="loginCheck" resultType="String">
	<!-- <select id="loginCheck" resultType="integer"> -->
	<![CDATA[
	SELECT 
	User_ID AS user_id,
	User_NM AS user_nm,
	User_NickNM AS user_nicknm	
	From tb_user
	WHERE User_ID = #{user_id} AND User_PWD = #{user_pwd}	
	]]>
	</select>
	
	
	<!-- <select id="totalAccount" resultType="integer">
		SELECT Count(*) from tb_user
	</select> -->
	
	<select id="viewMember" resultType="com.godsky.findlove.user.model.vo.User">
	SELECT
		User_NM AS user_nm,
		User_ID AS user_id,
		Email AS email,
		Latest_Access_DT AS lastestAccessDT
	FROM tb_user
	WHERE User_ID = #{user_id} AND User_PWD = #{user_pwd}	
	</select>
	
	<select id="idCheck" resultType="Integer">
	SELECT
		count(*)
	FROM tb_user
	WHERE User_ID = #{user_id}	
	</select>
	
	<select id="findAccount" resultType="User" parameterType="string">
	
		<![CDATA[
			select *
			from tb_user
			where email = #{ email }
		]]>
	</select>
	
	
	<delete id="removeUserById" parameterType="string">
	delete from tb_user
	where User_ID = #{user_id}
	</delete>
	
</mapper>